body {
  background: #fce4ec;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

input, button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  background: #c2185b;
  color: #fff;
  border: none;
  cursor: pointer;
}
